{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "extends": ["plugin:vue/essential", "prettier"],
  "plugins": ["@vue/eslint-plugin"],
  "rules": {
    "no-undef": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0
  }
}
