{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "@nuxtjs/eslint-config-typescript"
  ],
  "plugins": ["@typescript-eslint", "vue"],
  "rules": {
    "vue/html-self-closing": 0,
    "vue/attributes-order": 0,

    "semi": 0,
    "no-undef": 0,
    "arrow-parens": 0,
    "comma-dangle": 0,
    "space-before-function-paren": 0,
    "no-unsafe-finally": 0,

    "camelcase": "off",
    "class-methods-use-this": 0,
    "no-alert": 0,
    "no-console": "warn",
    "no-empty-function": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": 0,
    "linebreak-style": 0,

    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "import/order": [
      1,
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ],

    "@typescript-eslint/explicit-module-boundary-types": 0
  }
}
